nav {
  border: 1px solid gray;
  margin: 5%;
}

.search {
  margin: 70px 0 50px 0;
}

.right-button {
  position: relative;
  float: right;
  padding: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 3px;
}
