<!DOCTYPE html>
<html ng-app="shoppingCart">
  <head>
    <meta charset="utf-8">
    <title>MEAN Tea</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </head>
  <body ng-controller="cart">
    <h1>Welcome to MEAN Tea!</h1>
    <nav>
      <ul>
        <li>Home</li>
        <li>About</li>
        <li>Contact</li>
      </ul>
    </nav>
    <div class="search">
      <label for="category">Search By Category
        <select name="category" ng-model="category">
          <option>Soup</option>
        </select>
      </label>
      <label for="name" ng-model="name">Search By Name
        <input type="text" name="name" >
      </label>
    </div>

    <main>
      <table>
        <tr>
          <th>Tea</th>
          <th>Information <span>Sort By Price *****INSERT DROPDOWN*****</span></th>
        </tr>
        <tr ng-repeat="item in menu">
          <td><img src="{{item.imageUrl}}" alt="{{item.name}}"></td>
          <td>
            <h2>{{item.name}}</h2>
            <p><strong>Price:</strong>  {{item.price}}</p>
            <p><strong>Caffeine Scale:</strong>  {{item.caffeineScale}}</p>
            <p><strong>Ingredients:</strong>  {{item.ingredients}}</p>
            <p><strong>Rating:</strong>  {{item.rating}}</p>
            <p><strong>In Stock?:</strong>  {{item.inStock}}</p>
            <p><strong>Categories:</strong>  {{item.categories}}</p>
          </td>
        </tr>
      </table>
    </main>
  </body>
</html>
